#titleColor {
    color: #75ace3;
}

#titleBackground {
    background-color: rgb(121, 37, 37);
}

#redHeading {
    color: red
}

#blueHeading {
    color: rgba(red, green, blue, alpha)
}

#test {
    color: pink;
}

#headingDesign {
    font-family: 'Borel', cursive;
}

.borderDesign1 {
    border-color: rgb(204, 98, 98);
    border-radius: 3px 3px 3px 3px;
    border-right: dashed;
}

#backgroundimg {
    background: url(https://images.app.goo.gl/V6AiiV3LuvbvFcav5) right bottom no-repeat, url(https://images.app.goo.gl/pHgtFMxEaMJ1hjSK8) left top no-repeat url(https://images.app.goo.gl/D9BJVdVYeD2rf51x6)right top repeat;
    padding: 15px;
}

p {
    background-color: rgb(141, 234, 149);
}

#headerForNav {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-style: italic;

}

header img {
    display: block;
    margin:auto;
}
header {
    border: 2px solid red;
    margin: auto;
    width:25%
}
h3 {
    text-align: center;
}

.container {
    width: 700px;
    border: 2px solid purple;
    margin: 30px auto;
}

.box1 {
    background-color: lightgreen;
    height:30px;
    position: sticky;
    top:20px;
}

.box {
    border: 3px solid purple;
    background-color:lightgreen;
    padding: 23px;
    box-sizing: border-box;
    margin-top: 4px;
    display: inline-block;
    width: 33%;
}
.btn {
    background-color: red;
    font-size: 20px;
    padding: 4px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.container a {
    text-decoration: none;
    color: black;
}

.container a:hover,
.btn:hover {
    color: yellow;
    background-color: greenyellow;

}

#fruit {
    float: left;
}

#computer {
    float: right;
    width: 47%;
}

#stationary {
    clear: both;
    width: 98%;
}

#overflow {
    background-color: brown;
    border: 2px solid gray;
    width: 500px;
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow: auto;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: teal;
    color: #fff;
}

.nav-links a {
    color: #fff;
}

/* LOGO */
.logo {
    font-size: 32px;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
}
.menu li {
    padding: 5px 14px;
}

/* DROPDOWN MENU */
.services {
    position: relative;
}

.dropdown {
    background-color: rgb(1, 139, 139);
    padding: 1em 0;
    position: absolute;
    /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
}

.dropdown li+li {
    margin-top: 10px;
}

.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}

.dropdown li:hover {
    background-color: #4c9e9e;
}

.services:hover .dropdown {
    display: block;
}
/*
.navBar ul li {
    float: left;
    list-style: none;
    margin: 3px 11px;
}


.navBar ul li a {
    text-decoration: none;
    color: white;
    padding: 7px;
}

.navBar ul li a:hover {
    background-color: crisom;
}*/

.search {
    float: right;
    padding: 12px 60px;
}

.search input {
    border: 2px;
    border-radius: 14px;
    padding: 3px 17px;
    width: 200px;
}