p {
    background-color: rgb(141, 234, 149);
}

#headerForNav {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-style: italic;

}

.container {
    width: 700px;
    border: 2px solid purple;
    margin: 30px auto;
}

#fruit {
    float: left;
}

#computer {
    float: right;
    width: 47%;
}

#stationary {
    clear: both;
    width: 98%;
}